<div class="container-landing">
  <app-navbread-manager></app-navbread-manager>

  <div class="d-flex flex-row" style="margin: 10px">
    <div class="d-flex flex-column" style="width: 100%">
      <div class="block-empresa">
        <div class="row">
          <div class="col-3">
            <!-- <img
              src="assets/images/sinfoto_cuadrado.png"
              style="width: 100px; height: 100px"
            /> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#D2DEEF" class="bi bi-camera" viewBox="0 0 16 16">
                <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z"/>
                <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
              </svg>
          </div>
          <div class="col-7">
            <p style="color: #172C73;font-weight: 700; font-size: 24px;">Nombre empresa | 0.0 
              <svg *ngFor="let item of [0,2,1]" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#D2DEEF" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
              </svg>
            
            </p>
            <p style="color: #172C73; font-weight: 600; font-size: 14px;">Lima, Perú</p>
            <a href="#" class="badge badge-light" style="color: #172C73;font-weight: 600;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
              </svg> Link de pagina web</a>
          </div>
          <div class="col-2" style="text-align: right;">
            <img src="assets/images/pencil_edit.png" style="width: 30px" />
          </div>
        </div>
      </div>
      <div class="block-acercade">
        <div class="row">
          <div class="col-md-10"><p>Acerca de</p></div>
          <div class="col-md-2" style="text-align: right;">
            <img src="assets/images/pencil_edit.png" style="width: 30px" />
          </div>
        </div>
        <hr />
        <div
          class="d-flex flex-column align-items-center justify-content-center"
          style="height: 100%"
        >
          <img src="assets/images/carpeta.png" style="width: 60px" />
          <p style="color: #172C73; font-weight: 600; font-size: 12px;">Aún no haz colocado los datos de la empresa</p>
        </div>
      </div>
    </div>

    <div class="block-empleador">
      <div class="pb-3" style="text-align: center">
        <img src="assets/images/sinfoto_circulo.png" />
      </div>
      <div class="row pb-3" style="text-align: left">
        <div>
          <span class="titulo"> Empleador: </span>
          <div class="subtitulo">Juan Pablo Sinarahua</div>
        </div>
      </div>

      <div class="row pb-3" style="text-align: left">
        <div>
          <span class="titulo"> Correo: </span>
          <div class="subtitulo">juanpablo@empresarapi.com.pe</div>
        </div>
      </div>

      <div class="row" style="text-align: left">
        <div>
          <span class="titulo"> Celular: </span>
          <div class="subtitulo">+51 921 852 956</div>
        </div>
      </div>
      <br />
      <div class="w-100">
        <button class="btn btn-primary " style="width: 50%;">Editar</button>
      </div>
    </div>
  </div>
</div>
