<!-- <img src="assets/images/laboral_banner.png"> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets/images/laboral_banner_manager.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarText">
      
      <ul class="navbar-nav ml-auto">
        
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="far fa-bell"></i>    </a>            
          </li>          
          <li class="nav-item dropdown">
            
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
              <i class="far fa-user-circle"></i> 
            </a>
            
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Empleos</a>
              <a class="dropdown-item" href="#">Empresa</a>
              <a class="dropdown-item" href="#">Configuracion</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
          </li>
      </ul>
  </div>
  
  </nav>
  