<div class="block-perfil">
  <h5>Cambiar contraseña</h5>
  <hr />
  <form [formGroup]="frmPwd">
    <div class="form-group">
      <label for="txtPwdActual" class="label_text">Contraseña actual</label>
      <input
        formControlName="claveActual"
        type="password"
        class="form-control"
        id="txtPwdActual"
        aria-describedby="emailHelp"
      />
      <small
        id="emailHelp"
        class="form-text text-muted"
        *ngIf="
          claveActual.invalid && (claveActual.dirty || claveActual.touched)
        "
      >
        <div *ngIf="claveActual.errors?.['required']">
          claveActual es requerido.
        </div>
        <div *ngIf="claveActual.errors?.['minlength']">
          contraseña actual debe tener al menos 6 caracteres.
        </div> 
      </small>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="txtPwdNueva" class="label_text">Nueva contraseña</label>
          <input
            formControlName="claveNueva"
            type="password"
            class="form-control"
            id="txtPwdNueva"
            aria-describedby="emailHelp"
          />
          <small
            id="emailHelp"
            class="form-text text-muted"
            *ngIf="
              claveNueva.invalid && (claveNueva.dirty || claveNueva.touched)
            "
          >
            <div *ngIf="claveNueva.errors?.['required']">
              claveNueva es requerido.
            </div>
            <div *ngIf="claveNueva.errors?.['minlength']">
              nueva contraseña  debe tener al menos 6 caracteres.
            </div>  
          </small>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="txtPwdConfirmacion" class="label_text"
            >Confirmar contraseña</label
          >
          <input
            formControlName="claveConfirmacion"
            type="password"
            class="form-control"
            id="txtPwdConfirmacion"
            aria-describedby="emailHelp"
          />
          <small
            id="emailHelp"
            class="form-text text-muted"
            *ngIf="
              claveConfirmacion.invalid &&
              (claveConfirmacion.dirty || claveConfirmacion.touched)
            "
          >
            <div *ngIf="claveConfirmacion.errors?.['required']">
              claveConfirmacion es requerido.
            </div>
            <div *ngIf="claveConfirmacion.errors?.['minlength']">
              contraseña de Confirmacion debe tener al menos 6 caracteres.
            </div>  
          </small>
        </div>
      </div>
    </div>
  </form>
  <hr />
  <div style="text-align: right; margin-bottom: 10px;">
    <button class="btn btn-primary" (click)="actualizarPwd()" [disabled]="frmPwd.invalid">
      <span class="spinner-border spinner-border-sm" *ngIf="bol_loading"></span>
      <span class="visually-hidden" *ngIf="bol_loading"> Guardando...</span>
      <span *ngIf="!bol_loading"> Actualizar contraseña</span>
    </button>
  </div>

  <div>
    <div class="alert alert-success" role="alert" *ngIf="bol_msgOk">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-clipboard2-check-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5"
        />
        <path
          d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585q.084.236.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5q.001-.264.085-.5m6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708"
        />
      </svg>
      Datos actualizados!
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="bol_msgErr">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-exclamation-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"
        />
      </svg>
      {{ msg_err }}
    </div>
  </div>
</div>
