<!-- <img src="assets/images/laboral_banner.png"> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/images/laboral_banner.png" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="navbar-collapse collapse w-100 order-3 dual-collapse2"
    id="navbarText"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Premium</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Ingresar</a> -->
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Ingresar
        </button>
      </li>
    </ul>
  </div>
</nav>
