<!-- <img src="assets/images/laboral_banner.png"> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/images/laboral_banner.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarText">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Premium</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Ingresar</a> -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Ingresar
          </button>
      </li>
    </ul>
</div>

</nav>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
<div class="w-100 text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-info" (click)="login()">Iniciar sesión</button>
    <button type="button" class="btn btn-primary" (click)="registro()">Registrate</button>          
  </div>
</div>
        
        
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <app-registro-usuario *ngIf="!bol_login"></app-registro-usuario>
        <app-login-usuario *ngIf="bol_login"></app-login-usuario>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
