

.fila-detalle{
    margin-top: 10px;
}
.sub-texto{

    color: #1D214E;
    font-weight: 700;
    font-size: 14px;
}
.texto-contenido{
    background-color: #F6F8FF;
    border: 0px solid gray;
    border-radius: 8px;
    padding: 16px;
    color: #1D214E;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
}