<div class="container-chat">
  <div style="width: 95%">
    <nav aria-label="breadcrumb" style="background-color: white">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Chat</li>
      </ol>
    </nav>
  </div>

  <div class="d-flex flex-row">
    <div class="sec-postulantes d-flex flex-column justify-content-center mr-1 rounded shadow-sm">
      <div class="pt-2 pl-2">
        <span class="titulo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-briefcase"
            viewBox="0 0 16 16"
          >
            <path
              d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5"
            />
          </svg>
          Postulantes</span
        >
      </div>
      <hr />
      <div class="d-flex justify-content-center mb-1">
        <select          
        name="days" id="days"
          class="form-control"
          (change)="handleChange($event.target)"
          #days
        >
          <option value=0>Filtrar por publicación</option>
          <option
            [value]="item.id_job_description"
            *ngFor="let item of arrEmpleos"
          >
            {{ item.job_title }}
          </option>
        </select>
      </div>
      <div class="d-flex justify-content-center mb-3">
        <input
          type="text"
          name=" "
          id=""
          placeholder="Buscar"
          class="form-control input-text"
        />
      </div>
      <div class="d-flex justify-content-center">
        <div class="w-100 ml-3 mr-3 contenedor-lista">
          <div class="titulo-pos">
            Postulantes
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down float-right"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"
              />
            </svg>
          </div>
          <div class="pl-3">
            <div
              class="d-flex align-items-center"
              *ngFor="let item of arrCandidatos"
              [ngClass]="{'seleccionado': item.sel == true}"
            >
            <div class="form-check d-flex" >
              <input 
              [(ngModel)]="item.sel"
              (change)="handleSelCheck($event,item)"
              class="form-check-input" 
              type="checkbox"
                [id]="'i'+item.id_cliente" >
              <div class="mr-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-person-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                  <path
                    fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                  />
                </svg>
              </div>
              <label class="form-check-label texto-lista" [for]="'i'+item.id_cliente">
                {{item.nombres}} {{item.apellidos}}
              </label>
            </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sec-chatbot mr-1 rounded shadow-sm">
      <div class="pt-2 pl-2">
        <span class="titulo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-robot"
            viewBox="0 0 16 16"
          >
            <path
              d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5M3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.6 26.6 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.93.93 0 0 1-.765.935c-.845.147-2.34.346-4.235.346s-3.39-.2-4.235-.346A.93.93 0 0 1 3 9.219zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a25 25 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25 25 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135"
            />
            <path
              d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2zM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5"
            />
          </svg>
          Chatbot
        </span>
      </div>
      <hr />

      <div class="container-msj">
        <div class="container-scroll" #target>
          <div *ngIf="bolLoading">Cargando mensajes...</div>
          <div class="mensajes" *ngFor="let item of arr_mensajes">
            <div
              [ngClass]="{ 'text-right': item.type_owner != 'R' }"
              style="width: 100%"
            >
              <img
                src="assets/images/logo_chatbot.png"
                *ngIf="item.owner == 'Chatbot'"
              />
              <svg
                *ngIf="item.owner != 'Chatbot'"
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-person-circle"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                />
              </svg>

              <span> {{ item.owner }}</span>
            </div>
            <div class="texto">
              <div
                [innerHtml]="item.message"
                [ngClass]="{ 'text-right': item.type_owner != 'R' }"
              ></div>
            </div>
          </div>
        </div>

        <div
          class="input_msj d-flex justify-content-between align-items-center"
        >
          <input
            id="txtMsg"
            type="text"
            class="form-control"
            placeholder="escribe un mensaje"
            #inputmsg
            [(ngModel)]="inputText"
            (keydown.enter)="enviarMsg(inputmsg.value)"
            autocomplete="off"
          />
          <button class="btn" (click)="enviarMsg(inputmsg.value)">
            <img src="assets/images/button_send.png" alt="" />
          </button>
        </div>
      </div>
    </div>

    <div class="sec-perfil mr-1 rounded shadow-sm">
      <div class="pt-2 pl-2">
        <span class="titulo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person-badge"
            viewBox="0 0 16 16"
          >
            <path
              d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"
            />
            <path
              d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492z"
            />
          </svg>
          Perfil</span
        >
      </div>
      <hr />
      <div class="nombre">{{canditatoSel.nombres}} {{canditatoSel.apellidos}}</div>
      <div class="foto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100"
          height="100"
          fill="currentColor"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
          />
        </svg>
      </div>
      <div class="telefono">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="#14AE5C"
          class="bi bi-telephone"
          viewBox="0 0 16 16"
        >
          <path
            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
          />
        </svg>
        {{canditatoSel.celular}}
      </div>
      <div class="puesto-texto">Postuló a:</div>
      <div class="puesto-nombre">{{puestoSel}}</div>
      <div class="botones">
        <a [href]="canditatoSel.enlace_cv" target="_blank" class="btn btn-primary mb-2" style="width: 177px">
          Ver CV
        </a>
        <button class="btn btn-primary" style="width: 177px">
          Ver resultados
        </button>
      </div>
    </div>
  </div>
</div>
