<div class="container-publicar-editar">
  <div>
    <nav aria-label="breadcrumb" style="background-color: white;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/manager/publicar']" routerLinkActive="router-link-active" >Publicar empleo</a></li>
        <li class="breadcrumb-item active" aria-current="page">editar</li>
      </ol>
    </nav>
  </div>

  <div class="d-flex flex-row" style="background-color: white; padding: 20px">
    <app-chat-empleo-editar></app-chat-empleo-editar>
    <app-previsualizacion-empleo-editar></app-previsualizacion-empleo-editar>
  </div>
</div>
