.container-publicar-editar {
    width: 100%;
    margin: 20px;
    //  background-color: red;
    flex-direction: column;
}



.block-crear {
    text-align: center;
    min-width: 263px;
    max-height: 214px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding-top: 20px;
    background-color: #F6F8FF;

    p{
        font-size: 14px;
        font-weight: 500;
        color: #172C73;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    img{width: 70px; height: 70px;}
}