<div class="block-visualizacion">
  <div class="titulo-preview">Previsualización</div>

  <div class="container-text-preview">
    <div class="d-flex header-text align-items-center">
      <img src="assets/images/logo_rappi.png" />
      <div style="margin-left: 10px">Rappi</div>
    </div>
    <div class="container-scroll">
      <span>Descripcion</span>
      <p>
        Hola, somos Laboral.ai, startup que a través de inteligencia artificial
        apoya a estudiantes a encajar con trabajos altamente demandados, creando
        una conexión más rápida con oportunidades laborales que eleven su
        calidad de vida. Hemos ganado varios concurso de capital semilla y
        estamos creciendo, por lo que nos gustaría incorporar a un practicante
        con muchas ganas de crecer con nosotros para el desarrollo de nuestra
        plataforma y en todo el proceso de lanzamiento de un producto digital.
      </p>
      <span>Funciones</span>
      <p>
        Desarrollar MVP fanto FrontEnd como Backend de acuerdo a requerimientos
        del backlog Desarrollar Codigo en PHP, Javascript, WordpressDiseñar base
        de datos del aplicativo Utilizar algoritmos de Inteligencia Artificial
      </p>
      <span>Conocimientos y Requisitos:</span>
      <p>
        Desarrollar MVP fanto FrontEnd como Backend de acuerdo a requerimientos
        del backlog Desarrollar Codigo en PHP, Javascript, WordpressDiseñar base
        de datos del aplicativo Utilizar algoritmos de Inteligencia Artificial
      </p>
    </div>
   
  </div>

  <div class="d-flex justify-content-end mt-3">
    <button class="btn btn-primary" (click)="publicarEmpleo()" >
        Publicar empleo
    </button>
  </div>

</div>


<div class="modal" tabindex="-1" id="modalPublicar" >
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content" style="border-radius: 16px;">
        <div class="mt-3 mr-3">
          
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center w-100">
              <img src="assets/images/logo_cabeza_azul.png">
          </div>
          <div class="text-center w-100 mt-4 mb-4" style="color: #1D214E;font-size: 16px;font-weight: 600;">
              <p>{{mensaje}}</p>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
