<div class="block-perfil">
    <h5>Mi perfil</h5>    
    <hr />
    <form [formGroup]="frmReclutador">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtCorreo" class="label_text">
              Correo Corporativo <small style="color: rgb(155, 2, 2);" *ngIf="vTipoLogin != 'sistema'">
                (no se puede editar)
              </small>
            </label>            
            <input
              formControlName="correo"
              type="text"
              class="form-control"
              id="txtCorreo"
              aria-describedby="emailHelp"
              *ngIf="vTipoLogin == 'sistema'"
            />
            <input
            *ngIf="vTipoLogin != 'sistema'"
            type="text"
            class="form-control"
            [value]="vDatahidden.correo"
            disabled
            >

            <small
              id="emailHelp"
              class="form-text text-muted"
              *ngIf="correo.invalid && (correo.dirty || correo.touched)"
            >
              <div *ngIf="correo.errors?.['required']">
                correo corporativo es requirido.
              </div>
              <div *ngIf="correo.errors?.['email']">
                Formato de correo invalido.
              </div>
              <div *ngIf="correo.status === 'PENDING'">Checking...</div>
              <div *ngIf="correo.status === 'VALID'">Email valido</div>
              <div *ngIf="correo.errors">Este correo ya existe</div>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtNombreUsuario" class="label_text">
              Nombre Usuario</label>
            <input
              formControlName="nombreUsuario"
              type="text"
              class="form-control"
              id="txtNombreUsuario"
              aria-describedby="emailHelp"
            />            
          </div>
        </div>
      </div>
      

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtNombres" class="label_text">
              Nombres <small style="color: rgb(155, 2, 2);" *ngIf="vTipoLogin != 'sistema'">
                (no se puede editar)
                </small>
            </label>
            <input
              formControlName="nombres"
              type="text"
              class="form-control"
              id="txtNombres"
              aria-describedby="emailHelp"
              *ngIf="vTipoLogin == 'sistema'"
            />            
            <input
            *ngIf="vTipoLogin != 'sistema'"
            type="text"
            class="form-control"
            [value]="vDatahidden.nombre"
            disabled
            >
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtApellidos" class="label_text">
              Apellidos
            </label>
            <input
              formControlName="apellidos"
              type="text"
              class="form-control"
              id="txtApellidos"
              aria-describedby="emailHelp"
            />            
          </div>          
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtCelular" class="label_text">Celular </label>
            <input
              formControlName="celular"
              type="text"
              class="form-control"
              id="txtCelular"
              aria-describedby="emailHelp"
            />
            <small
              id="emailHelp"
              class="form-text text-muted"
              *ngIf="celular.invalid && (celular.dirty || celular.touched)"
            >
              <div *ngIf="celular.errors?.['required']">
                celular es requerido.
              </div>
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtUbicacion" class="label_text">Ubicacion </label>
            <input
              formControlName="ubicacion"
              type="text"
              class="form-control"
              id="txtUbicacion"
              aria-describedby="emailHelp"
            />            
          </div>
        </div>        

      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtDireccion" class="label_text">Direccion </label>
            <input
              formControlName="direccion"
              type="text"
              class="form-control"
              id="txtDireccion"
              aria-describedby="emailHelp"
            />            
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="label_text" for="customFile2">
              Imagen perfil <small style="color: rgb(155, 2, 2);" *ngIf="vTipoLogin != 'sistema'">
                (no se puede editar)
              </small>
            </label>
            <input
              type="file"
              class="form-control"
              id="customFile2"
              (change)="onFileSelect2($event)"
              *ngIf="vTipoLogin == 'sistema'"
            />

            <input
              type="file"
              class="form-control"
              id="customFile2"
              (change)="onFileSelect2($event)"
              *ngIf="vTipoLogin != 'sistema'"
              disabled
            />

          </div>
        </div>
      </div>

      <hr />
      <div style="text-align: right">
        <button class="btn btn-primary" [disabled]="frmReclutador.invalid" (click)="guardarDatosReclutador()">
          <span
          class="spinner-border spinner-border-sm"
          *ngIf="bol_loading"
        ></span>
        <span class="visually-hidden" *ngIf="bol_loading"> Guardando...</span>
        <span *ngIf="!bol_loading"> Guardar Cambios </span>
        </button>
      </div>
      <div>
        <div class="alert alert-success" role="alert" *ngIf="bol_msgOk">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-clipboard2-check-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5"
            />
            <path
              d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585q.084.236.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5q.001-.264.085-.5m6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708"
            />
          </svg>
          Datos actualizados!
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="bol_msgErr">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-exclamation-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"
            />
          </svg>
          {{ msg_err }}
        </div>
      </div>
    </form>


</div>
