.block-lista-empleos{
    background-color: #FAFAFD;
    border: 1px solid gainsboro;
    min-width: 263px;
    max-width: 265px;
    min-height: 100px;
    max-height: 214px;
    border-radius: 8px;    
    margin-top: 20px;
    margin-right: 2px;
    cursor: pointer;
}