.container-respuestas {
    width: 100%;
    // margin: 20px;
    //  background-color: red;
    // display: flexbox;
    // flex-direction: column;

}

.sec-2 {
    width: 95%;
    margin-left: 20px;

    .titulo{
        font-size: 16px;
        font-weight: 500;
        color: #3D4279;
    }

    .conte-chart {
        background-color: white;
        width: 315px;
        height: 530px;
        // border: 1px solid black;
        margin: 5px;
    }

    .conte-preguntas {
        background-color: white;
        width: 780px;
        // height: 450px;
        // border: 1px solid black;
        margin: 5px;
    }

    .conte-assesment {
        background-color: white;
        width: 780px;
        height: 328px;
        // border: 1px solid black;
        margin: 5px;
    }
}

.sec-info-empleo {
    width: 95%;
    background-color: white;
    // border: 0px solid #F7F6F9;
    border-radius: 8px;

    margin-left: 20px;
    margin-bottom: 20px;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    .titulo {
        font-size: 14px;
        font-weight: 600;
        color: #1D214E;
    }

    .titulo-cuadro {
        background-color: #F7F6F9;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 600;
        color: #1D214E;
    }

    .sub-titulo {
        font-size: 14px;
        font-weight: 500;
        color: #47576F;
    }

    .texto-badge {
        margin-left: 5px;
        background-color: #EEF8FF;
        color: #8B8FC1;
        padding-left: 10px;
        padding-right: 10px;
    }

}