<div class="container-empleo">
    <div style="width: 90%">
      <nav aria-label="breadcrumb" style="background-color: white">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Empleos</li>
        </ol>
      </nav>
    </div>
</div>
<div class="d-flex flex-row" style="background-color: white; padding: 20px">

    <div>

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Empleos abiertos</button>
            </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Empleos cerrados</button>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>        
    </div>
    
</div>
</div>